* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #B3B3B3 !important;
    background-image: url(img/bg-body.gif);
    background-repeat: repeat-x;
    text-align: center;
}
.container {
    position: relative;
    background-color: #FFFFFF;
    border-right: 1px solid #737173;
    border-left: 1px solid #737173;
    margin: auto;
    text-align: left;
}
#page-header {
    background-image: url(img/bg-menubar-shadow.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}
#page-np-login {
    border: 0px solid red;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 230px;
    overflow: hidden;
}
#nav-site {
    clear: both;
    position: relative;
    z-index: 10;
    background-image: url(img/bg-menubar-bar.gif);
    padding: 4px 0px 3px 0px;
    border-bottom: 1px solid #BFBFBF;
}
div#nav-site-supplementary {
    position: absolute;
    top: 18px;
    right: 0;
    z-index: 25;
    width: 525px;
    background-color: transparent;
    background-image: none;
    border-bottom-width: 0px;
    overflow: visible;
}
div.menubar {
    overflow: auto;
    width: 100%;
    color: #747474;
    background-color: #FFF;
    background-image: url('img/bg-menubar-bar.gif');
    background-repeat: repeat-x;
    border-bottom: 1px solid #DADADA;
    font-weight: bold;
}
#nav-site ul {
    width: 700px;
}
#nav-site ul {
    display: block;
    z-index: 25;
    width: 100%;
}
.menubar ul {
    display: inline;
    margin: 0px;
}
#nav-site li {
    display: block;
    padding: 0 9px;
}
#nav-site li {
    display: block;
    padding: 0px 5px;
}
.menubar ul li {
    float: left;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #CACACA;
    list-style: none;
}
.menubar .home a:link, .menubar .home a:visited, .menubar .home a:active {
    color: #286DA8;
}
.menubar a:link, .menubar a:active, .menubar a:visited {
    color: #747474;
    text-decoration: none;
    /* white-space: nowrap; */
}
/* ----- FOOTER MENU --------------- */
#page-footer
{
    clear:both;
    padding: 20px 0px;
}

#nav-footer
{
    font-size: 0.8em;
}
div#nav-footer
{
    font-weight: normal;
    padding: 3px 0px 4px 0px;
    margin: 0px;
}
div#nav-footer ul li
{
    padding: 0px 10px;
}
div#nav-footer ul li#page-copyright
{
    float: right;
    padding-right: 15px;
    border-right: none;
}
#nav-footer-menu li.first-item 		/* no other way to centre menu without additional unnecessary div */
{
    padding-left: 15px;
}
ul#nav-footer-menu li:last-child
{
    border-right-width: 0 ! important;
}



div#nav-footer ul li#page-cookies
{
    display: none;				/* ----- hide cookies footer link - 2012/05 ----- */
}
/* ----- END FOOTER --------------- */
/* about us home panels */
#panel-one {
    width: 490px;
}
#panel-one {
    width: 490px;
}
.panel {
    float: left;
    margin-right: 15px;
    clear: none;
}
.panel {
    margin-bottom: 15px;
    background-color: #F2F2F2;
    line-height: 1.2em;
    clear: both;
}
.about-us h2 {
    background-image: url(img/curve-top.gif);
    background-color: #377FBD;
}
.panel h2 {
    color: #FFF;
    background-position: top right;
    margin: 0px;
    padding: 5px 5px 5px 10px;
}
.about-us .panel-intro {
    background-color: #F2F2F2;
}
.about-us .panel-intro {
    background-color: #B2DAFD;
}
.image.left{
    float: left;
}
div.panel-intro {
    border-bottom: 1px solid #FFF;
    padding-top: 10px;
    height: 185px;
}
.about-us h3, .about-us a {
    color: #286DA8;
}
.panel ul {
    margin: 0px 10px 10px 20px;
}
.about-us ul li {
    background-image: url(img/bullet.gif);
}
p {
    margin: 0px 10px 10px 10px;
}
.labeltext
{
    background-image: url('img/payment_icons.png');
    background-repeat: no-repeat;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
